<button
    id="iconCarrito" 
    class="fixed z-90 bottom-10 right-8 bg-purple-600 w-14 h-14 rounded-full drop-shadow-lg flex justify-center items-center text-white text-2xl hover:bg-purple-700 hover:drop-shadow-2xl"
    onclick="location.href='/carrito'"
    >

    <i class="bx bx-cart"></i>
</button>