<button id="iconCarrito" type="button" class="btn btn-primary position-relative float-end rounded-circle" style="display: none;">
    <i class="bx bx-cart"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span>
</button>
